<mat-toolbar>
    <mat-toolbar-row class="always-clickable">
        <button mat-icon-button [matMenuTriggerFor]="appMenu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #appMenu="matMenu">
            <a mat-menu-item [routerLink]="['/diary']">
                <mat-icon>book</mat-icon>
                <span>Diary</span>
            </a>

            <a mat-menu-item [routerLink]="['/food']">
                <mat-icon>kitchen</mat-icon>
                <span>Food</span>
            </a>

            <a mat-menu-item [routerLink]="['/goals']">
                <mat-icon>self_improvement</mat-icon>
                <span>Goals</span>
            </a>

            <button mat-menu-item>
                <mat-icon>menu_book</mat-icon>
                <span>Recipes</span>
            </button>
        </mat-menu>
        <!-- <span>Manatee Fitness</span> -->
        <span class="spacer"></span>

        <button mat-button [matMenuTriggerFor]="calenderMenu">
            <span>{{ dateString() }}</span>
            <mat-icon>calendar_today</mat-icon>
        </button>
        <mat-menu #calenderMenu="matMenu">
            <mat-calendar
                style="width: 17rem"
                touchUi
                #calendar
                (click)="$event.stopPropagation()"
                (selectedChange)="this.dateService.set($event)">
            </mat-calendar>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>
