<mat-toolbar>
    <mat-toolbar-row class="always-clickable">
        <button mat-icon-button (click)="toggleSideNav.emit(true)">
            <mat-icon>menu</mat-icon>
        </button>
        <span>{{ this.dateService.pageTitle() }}</span>
        <!-- <span>Manatee Fitness</span> -->
        <span class="spacer"></span>

        <button mat-button [matMenuTriggerFor]="calenderMenu">
            <span>{{ dateString() }}</span>
            <mat-icon>calendar_today</mat-icon>
        </button>
        <mat-menu #calenderMenu="matMenu">
            <mat-calendar
                style="width: 17rem"
                touchUi
                #calendar
                (click)="$event.stopPropagation()"
                (selectedChange)="this.dateService.setDate($event)">
            </mat-calendar>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>
