<mat-expansion-panel appLongPress (longPress)="onLongPressRecipeCard($event)">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <span>
                {{ recipeWithRecipeFood().recipe.recipe_name }}
                <i style="padding-left: 0.5em">{{ totalCalories() }} kcal</i>
            </span>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-action-list #recipeList>
        @for (recipefood of recipeWithRecipeFood().recipeFoods; track recipefood) {
            <mat-list-item>
                <span matListItemTitle class="mat-body">{{ recipefood.food.description }}</span>
                <span matListItemMeta>
                    <i>{{ recipefood.summed_food.calories }} kcal</i>
                </span>
            </mat-list-item>
            <mat-divider></mat-divider>
        }
    </mat-action-list>
    <mat-action-row>
        <button mat-button><mat-icon fontIcon="delete"></mat-icon></button>
        <button mat-button><mat-icon fontIcon="add"></mat-icon></button>
    </mat-action-row>
</mat-expansion-panel>
