<mat-expansion-panel appLongPress (longPress)="onLongPressRecipeCard($event)">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <span>
                {{ recipeWithRecipeFood().recipe.recipe_name }}
                <i style="padding-left: 0.5em">{{ totalCalories() }} kcal</i>
            </span>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-action-list #recipeList>
        @for (recipefood of recipeWithRecipeFood().recipeFoods; track recipefood) {
            <mat-list-item
                style="text-align: left"
                appLongPress
                (longPress)="onRecipeFoodLongPress($event, recipefood)"
                (click)="openRecipeFoodDialog(recipefood)">
                <span matListItemTitle class="mat-body">{{ recipefood.food.description }}</span>
                <span matListItemMeta>
                    <i>{{ recipefood.summed_food.calories }} kcal</i>
                </span>
                @if (recipefood.quantity_servings === 0 && recipefood.quantity_grams > 0) {
                    <span matListItemLine>
                        <i>{{ recipefood.quantity_grams }}g</i>
                    </span>
                } @else {
                    <span matListItemLine>
                        <i>
                            {{ +recipefood.quantity_servings.toFixed(2) }} x
                            {{ recipefood.food.serving_text ? recipefood.food.serving_text : '???' }}
                        </i>
                    </span>
                }
            </mat-list-item>
        }
    </mat-action-list>
    <mat-action-row>
        <button mat-button (click)="deleteRecipe($event)"><mat-icon fontIcon="delete"></mat-icon></button>
        <button [routerLink]="['/food']" [queryParams]="{ recipe: recipeWithRecipeFood().recipe.id }" mat-button>
            <mat-icon fontIcon="add"></mat-icon>
        </button>
    </mat-action-row>
</mat-expansion-panel>
