<main class="container">
  <h1>Welcome to Manatee Fitness!</h1>

  <h2>Today's date is {{ todayFormatted() }}</h2>

  <h2>Tomorrow's date is {{ tomorrowFormatted() }}</h2>

  <page-diary [today]="todayFormatted()"></page-diary>

  <form class="row" (submit)="greet($event, greetInput.value)">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput #greetInput id="greet-input" placeholder="Enter a name..." />
    </mat-form-field>
    <button mat-flat-button type="submit">Search</button>
  </form>
  <p>{{ greetingMessage() }}</p>
</main>
