<div class="main-content">
    <!-- <mat-form-field>
        <mat-label>Search Food</mat-label>
        <input matInput type="text" [formControl]="searchText" placeholder="Search" />
    </mat-form-field>
    <app-food-list [foods]="foods()"></app-food-list> -->

    <mat-form-field class="full-width">
        <mat-label>Pick food</mat-label>
        <input type="text" matInput [formControl]="searchText" [matAutocomplete]="auto" />
        <mat-autocomplete #auto="matAutocomplete">
            @for (food of foods(); track food) {
                <mat-option [value]="food.description">{{ food.description }}</mat-option>
                <mat-divider></mat-divider>
            }
        </mat-autocomplete>
    </mat-form-field>
</div>
