<div class="main-content">
    @if (addingToMeal() && meal) {
        <!-- We are entering this page to select food for a meal -->
        <h2>Adding Food</h2>
        <h3>{{ meal.meal_name }} on {{ meal.meal_date }}</h3>
    } @else if (addingToRecipe() && recipe) {
        <h3>
            Adding food to <i>{{ recipe.recipe_name }}</i>
        </h3>
    }
    @if (addingToMeal() && meal && foodToAdd().id !== 0) {
        <!-- A food was selected, display the mealfood form -->
        <app-mealfood-form
            [inputFood]="foodToAdd()"
            [inputMeal]="meal"
            (outputMealFood)="onMealFoodSubmit($event)"
            (cancelSubmission)="cancelMealFoodsubmit()"></app-mealfood-form>
    } @else if (addingToRecipe() && recipe && foodToAdd().id !== 0) {
        <app-recipefood-form
            [inputFood]="foodToAdd()"
            [inputRecipe]="recipe"
            (outputRecipeFood)="onRecipeFoodSubmit($event)"
            (cancelSubmission)="cancelMealFoodsubmit()"></app-recipefood-form>
    } @else {
        <!-- Display the search bar if we aren't displaying the form -->
        <div>
            <mat-form-field>
                <mat-label>Search Food</mat-label>
                <input matInput type="search" [formControl]="searchText" placeholder="Search" />
            </mat-form-field>
            @if (onlineSearch.value) {
                <button mat-flat-button (click)="searchOnline(searchText.value)">Search</button>
            }
            <mat-checkbox [formControl]="onlineSearch">Online Search</mat-checkbox>
        </div>
        @if (searching()) {
            <div class="center-spinner"><mat-spinner></mat-spinner></div>
        }
        @if (!onlineSearch.value) {
            <app-food-list [foods]="foods()" (foodSelected)="handleFoodListSelection($event)"></app-food-list>
        } @else {
            <app-off-food-list
                [foods]="onlineFoods()"
                (foodSelected)="handleOnlineFoodListSelection($event)"></app-off-food-list>
        }
    }

    @if (foodToAdd().id === 0) {
        <div class="bottom-right">
            <button mat-fab (click)="addFood()">
                <mat-icon aria-hidden="false" aria-label="Plus sign" fontIcon="add"></mat-icon>
            </button>
            @if (canScan()) {
                <button mat-fab style="margin-left: 8px" (click)="scan()">
                    <mat-icon aria-hidden="false" aria-label="Barcode reader" fontIcon="barcode_reader"></mat-icon>
                </button>
            }
        </div>
    }
</div>
