.main-content {
    display: grid;
    justify-content: center;
    margin: 0.5em;
    padding-bottom: 3em;
}

mat-form-field {
    padding-left: 10px;
    padding-right: 10px;
}

.center-spinner {
    display: flex;
    justify-content: center;
}