<div class="main-content">
    @if (mealId && meal) {
        <h1>Adding Food</h1>
        <h2>{{ meal.meal_name }} on {{ meal.meal_date }}</h2>
        <!-- We are entering this page to select food for a meal -->
        <mat-form-field style="width: 90vw">
            <mat-label>Pick food</mat-label>
            <input type="text" matInput [formControl]="searchText" [matAutocomplete]="auto" />
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFoods">
                @for (food of foods(); track food) {
                    <mat-option [value]="food">
                        {{ food.description }}
                        <small>
                            <i>{{ food.brand }}</i>
                        </small>
                    </mat-option>
                    <mat-divider></mat-divider>
                }
            </mat-autocomplete>
        </mat-form-field>

        <app-mealfood-form
            [inputFood]="searchText.value"
            [inputMeal]="meal"
            (outputMealFood)="onMealFoodSubmit($event)"></app-mealfood-form>
    } @else {
        <!-- No meal associated, probably have the food list? -->
        <div>
            <mat-form-field>
                <mat-label>Search Food</mat-label>
                <input matInput type="search" [formControl]="searchText" placeholder="Search" />
            </mat-form-field>
            @if (onlineSearch.value) {
                <button mat-flat-button (click)="searchOnline(searchText.value)">Search</button>
            }
            <mat-checkbox [formControl]="onlineSearch">Online Search</mat-checkbox>
        </div>
        @if (!onlineSearch.value) {
            <app-food-list [foods]="foods()"></app-food-list>
        } @else {
            <app-off-food-list [foods]="onlineFoods()"></app-off-food-list>
        }
    }
</div>
