<form [formGroup]="mealForm">
    <mat-form-field>
        <mat-label>Name of this meal</mat-label>
        <input matInput placeholder="Enter a name..." formControlName="mealName" />
    </mat-form-field>
    <br />
    <mat-form-field>
        <mat-label>Date of this meal</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="mealDate" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br />
    <mat-form-field>
        <mat-label>Time of this meal</mat-label>
        <input matInput type="time" placeholder="Enter a Time..." formControlName="mealTime" />
    </mat-form-field>
    <br />
    <button mat-flat-button style="float: right" type="submit" [disabled]="!mealForm.valid" (click)="onSubmit()">
        Submit
    </button>
    <button mat-flat-button style="float: right" (click)="onCancel()">Cancel</button>
</form>
