<div class="main-content">
    <mat-form-field>
        <mat-label>Search Food</mat-label>
        <input matInput type="text" [formControl]="searchText" placeholder="Search" />
    </mat-form-field>
    <app-food-list [foods]="foods()"></app-food-list>

    <h4>Total Calories: {{ totalCalories }}</h4>
    @for (item of meals; track $index) {
        <app-meal-card [meal]="item"></app-meal-card>
        <br />
    }
</div>
<button class="bottom-right" mat-flat-button (click)="addMeal()">Add Meal</button>
