<div
    appSwipe
    (swipeNext)="dateService.setTomorrow()"
    (swipePrevious)="dateService.setYesterday()"
    class="swipe-catcher"></div>
<div class="main-content">
    @if (goal !== undefined && goal.calories > 0 && totalCalories > 0) {
        <div class="progress-bar-container">
            @if (caloriePercentageEaten > 100) {
                <mat-progress-bar class="excess-progress" mode="determinate" [value]="100"></mat-progress-bar>
                <mat-progress-bar
                    mode="determinate"
                    [value]="100 - ((caloriePercentageEaten - 100) / caloriePercentageEaten) * 100"></mat-progress-bar>
            } @else {
                <mat-progress-bar mode="determinate" [value]="caloriePercentageEaten"></mat-progress-bar>
            }
        </div>
    }
    <h4>Total Calories: {{ totalCalories }}{{ goal === undefined ? '' : '/' + goal.calories }}</h4>
    @for (item of meals; track $index) {
        <app-meal-card [meal]="item" (mealChanged)="refreshMeals(today())"></app-meal-card>
        <br />
    }
    @if (totalCalories > 0) {
        <apx-chart
            [series]="chartOptions().series"
            [chart]="chartOptions().chart"
            [labels]="chartOptions().labels"
            [theme]="chartOptions().theme"
            [title]="chartOptions().title"></apx-chart>
    }

    <button class="bottom-right" mat-fab (click)="addMeal()">
        <mat-icon aria-hidden="false" aria-label="Plus sign" fontIcon="add"></mat-icon>
    </button>
</div>
