.main-content {
    display: grid;
    justify-content: center;
    margin: 0.5em;
    padding-bottom: 3em;
}

mat-form-field {
    width: 90vw;
}

.bottom-right {
    position: fixed;
    bottom: 15px;
    right: 15px;
}