<div class="main-content">
    <mat-form-field>
        <mat-label>Search Recipes</mat-label>
        <input matInput type="search" [formControl]="searchText" placeholder="Search" />
    </mat-form-field>
    @for (recipesWithRecipeFood of recipesWithRecipeFoods(); track $index) {
        <app-recipe-card
            [recipeWithRecipeFood]="recipesWithRecipeFood"
            (recipeChanged)="refreshRecipes()"></app-recipe-card>
        <br />
    }
    <div class="bottom-right">
        <button mat-fab (click)="addRecipe()">
            <mat-icon aria-hidden="false" aria-label="Plus sign" fontIcon="add"></mat-icon>
        </button>
    </div>
</div>
