<div>
    <mat-card
        appLongPress
        (longPress)="onLongPressMealCard($event)"
        appSwipe
        (swipeNext)="dateService.setTomorrow()"
        (swipePrevious)="dateService.setYesterday()">
        <mat-card-header>
            <mat-card-title>{{ mealName() }}</mat-card-title>
            <mat-card-subtitle>{{ mealTime() }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-action-list>
                @for (mealfood of foods; track $index) {
                    <mat-list-item
                        appLongPress
                        (longPress)="onMealFoodLongPress($event, mealfood)"
                        (click)="openMealFoodDialog($event, mealfood)">
                        <span matListItemTitle>{{ mealfood.food.description }}</span>
                        @if (mealfood.food.brand) {
                            <span matListItemLine>{{ mealfood.food.brand }}</span>
                        }
                        @if (mealfood.quantity_servings === 0 && mealfood.quantity_grams > 0) {
                            <span matListItemLine>
                                <i>{{ mealfood.quantity_grams }}g</i>
                            </span>
                        } @else {
                            <span matListItemLine>
                                <i>
                                    {{ +mealfood.quantity_servings.toFixed(2) }} x
                                    {{ mealfood.food.serving_text ? mealfood.food.serving_text : '???' }}
                                </i>
                            </span>
                        }
                        <span matListItemMeta>
                            <i>{{ mealfood.summed_food.calories }} kcal</i>
                        </span>
                    </mat-list-item>
                }
            </mat-action-list>
            <mat-chip-set role="list">
                <mat-chip role="listitem">{{ summedCarbsRounded() }}g Carbs</mat-chip>
                <mat-chip role="listitem">{{ summedFatRounded() }}g Fat</mat-chip>
                <mat-chip role="listitem">{{ summedProteinRounded() }}g Protein</mat-chip>
                <mat-chip role="listitem">{{ summedCaloriesRounded() }} kcal</mat-chip>
            </mat-chip-set>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button (click)="deleteMeal($event)">
                <mat-icon aria-hidden="false" aria-label="Delete meal icon" fontIcon="delete"></mat-icon>
            </button>
            <button [routerLink]="['/food']" [queryParams]="{ meal: meal().id }" mat-button>
                <mat-icon aria-hidden="false" aria-label="Add food icon" fontIcon="add"></mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>
