<div>
    <mat-card
        appLongPress
        (longPress)="onLongPress($event)"
        appSwipe
        (swipeNext)="dateService.setTomorrow()"
        (swipePrevious)="dateService.setYesterday()">
        <mat-card-header>
            <mat-card-title>{{ mealName() }}</mat-card-title>
            <mat-card-subtitle>{{ mealTime() }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <ul>
                @for (food of foods; track $index) {
                    <li>{{ food.description }}</li>
                }
            </ul>
        </mat-card-content>
        <mat-card-actions align="end">
            {{ summedMeal.calories }} Calories
            <button [routerLink]="['/food']" [queryParams]="{ meal: meal().id }" mat-button>
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add"></mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>
