<mat-grid-list cols="2" rowHeight="2:1">
    <form [formGroup]="foodForm">
        <!-- <mat-grid-tile [colspan]="2">
            <mat-form-field>
                <mat-label>Barcode</mat-label>
                <input matInput placeholder="Barcode..." formControlName="barcode" />
            </mat-form-field>
        </mat-grid-tile> -->
        <mat-grid-tile [colspan]="2">
            <mat-form-field>
                <mat-label>Description</mat-label>
                <input matInput placeholder="Description..." formControlName="description" />
                @if (foodForm.controls.description.invalid) {
                    <mat-error>3+ characters required</mat-error>
                }
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Brand</mat-label>
                <input matInput placeholder="Brand..." formControlName="brand" />
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Calories per serving</mat-label>
                <input matInput type="number" placeholder="Calories per serving" formControlName="caloriesPerServing" />
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Grams per serving</mat-label>
                <input matInput type="number" placeholder="Grams per serving" formControlName="gramsPerServing" />
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Serving amount</mat-label>
                <input matInput placeholder="Quantity of a serving" formControlName="servingText" />
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Fat in grams</mat-label>
                <input matInput type="number" placeholder="Fat content..." formControlName="fat" />
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Carbs in grams</mat-label>
                <input matInput type="number" placeholder="Carb content..." formControlName="carbs" />
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Protein in grams</mat-label>
                <input matInput type="number" placeholder="Protein content..." formControlName="protein" />
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Cholesterol in milligrams</mat-label>
                <input matInput type="number" placeholder="Cholesterol content..." formControlName="cholesterol" />
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Fiber in grams</mat-label>
                <input matInput type="number" placeholder="Fiber content..." formControlName="fiber" />
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Sodium in milligrams</mat-label>
                <input matInput type="number" placeholder="Sodium content..." formControlName="sodium" />
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile>
            <button mat-flat-button (click)="onCancel()">Cancel</button>
            <button mat-flat-button type="submit" [disabled]="!foodForm.valid" (click)="onSubmit()">Submit</button>
        </mat-grid-tile>
    </form>
</mat-grid-list>
