<mat-grid-list cols="2" rowHeight="2:1">
    <form [formGroup]="foodForm">
        <!-- <mat-grid-tile [colspan]="2">
            <mat-form-field>
                <mat-label>Barcode</mat-label>
                <input matInput placeholder="Barcode..." formControlName="barcode" />
            </mat-form-field>
        </mat-grid-tile> -->
        <mat-grid-tile [colspan]="2">
            <mat-form-field>
                <mat-label>Description</mat-label>
                <input matInput placeholder="Description..." formControlName="description" />
                @if (foodForm.controls.description.invalid) {
                    <mat-error>3+ characters required</mat-error>
                }
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Brand</mat-label>
                <input matInput placeholder="Brand..." formControlName="brand" />
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Calories per serving</mat-label>
                <input matInput type="number" placeholder="Calories per serving" formControlName="caloriesPerServing" />
                <span matTextSuffix>kcal</span>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Serving Quantity</mat-label>
                <input matInput type="number" placeholder="Serving Quantity" formControlName="gramsPerServing" />
                <button mat-button [matMenuTriggerFor]="menu" matTextSuffix>{{ servingUnit() }}</button>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Serving amount</mat-label>
                <input matInput placeholder="1 can" formControlName="servingText" />
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Fat</mat-label>
                <input matInput type="number" placeholder="Fat content..." formControlName="fatPerServing" />
                <span matTextSuffix>g</span>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Carbs</mat-label>
                <input matInput type="number" placeholder="Carb content..." formControlName="carbsPerServing" />
                <span matTextSuffix>g</span>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Protein</mat-label>
                <input matInput type="number" placeholder="Protein content..." formControlName="proteinPerServing" />
                <span matTextSuffix>g</span>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Cholesterol</mat-label>
                <input
                    matInput
                    type="number"
                    placeholder="Cholesterol content..."
                    formControlName="cholesterolPerServing" />
                <span matTextSuffix>mg</span>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Fiber</mat-label>
                <input matInput type="number" placeholder="Fiber content..." formControlName="fiberPerServing" />
                <span matTextSuffix>g</span>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Sodium</mat-label>
                <input matInput type="number" placeholder="Sodium content..." formControlName="sodiumPerServing" />
                <span matTextSuffix>mg</span>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile>
            <button mat-flat-button (click)="onCancel()">Cancel</button>
            <button mat-flat-button type="submit" [disabled]="!foodForm.valid" (click)="onSubmit()">Submit</button>
        </mat-grid-tile>
    </form>
</mat-grid-list>

<mat-menu #menu="matMenu">
    <button (click)="selectUnit('g')" mat-menu-item>Grams</button>
    <button (click)="selectUnit('kg')" mat-menu-item>Kilograms</button>
    <button (click)="selectUnit('oz')" mat-menu-item>Ounces</button>
    <button (click)="selectUnit('lb')" mat-menu-item>Pounds</button>
</mat-menu>
